torch == 1.12.0
torchtext == 0.13.0
pytorch-lightning
hydra-core 
huggingface-hub 
wget 
onnx 
braceexpand 
webdataset 
frozendict 
unidecode 
transformers 
sentencepiece 
youtokentome 
pyannote.audio
torch_stft
sox